.container {
  text-align: center; height: auto;
}
td, th{
  width:300px;
  border-bottom: 2px solid #FF8F00;
  border-top: 2px solid #ff8f00;
}
.btn.btn-success { margin-top: 10px; margin-right: 30px; margin-left: auto}

.btn.btn-danger {margin-top: 10px; margin-left: 30px; margin-right: auto}


.table { width: 600px; margin-left: auto; margin-right: auto;
}

.header{
  padding-bottom: 25px;
  padding-top: 25px;
  margin-bottom: 25px;
  margin-top: 25px;
  border-bottom: 5px solid #FF8F00;
  text-align: center;
  font-family: 'Yomogi', cursive;
}
.header > h1{
  font-size: 40px;
}
.whitespace{
  padding-bottom: 10px;
}
.whitespace2{
  padding-bottom: 35px;
}
