span, .btn {
  width: 90px;
}

.login {
  text-align: center;
  font-family: 'Yomogi', cursive;
  font-size: 50px;
  padding-bottom: 20px;
  border-bottom: 4px solid #FF8F00;
  margin: 20px auto 30px auto;
}
