<div class="btn-group mt-1">
  <button class="btn btn-outline-primary" (click)="loadPieChartTotal()">Load Pie data Total</button>
  <button class="btn btn-outline-primary" (click)="loadPieChartFood()">Load Pie data Food</button>
  <button class="btn btn-outline-primary" (click)="loadPieChartDrink()">Load Pie data Drink</button>
  <button class="btn btn-outline-primary" (click)="loadFoodDataForLine()">Load Line data Food</button>
</div>
<hr>
<div class="row">
  <div class="row">
    <ngx-charts-advanced-pie-chart
      *ngIf="pieLoaded"
      [view]="viewPie"
      [results]="resultDataPie"
      [gradient]="true"
      [scheme]="colorSchemePie"
      [gradient]="gradient">
    </ngx-charts-advanced-pie-chart>
  </div>
  <div class="row">
    <ngx-charts-line-chart
      *ngIf="lineLoaded"
      [view]="view"
      [legend]="legend"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxis]="xAxis"
      [yAxis]="yAxis"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel"
      [timeline]="timeline"
      [results]="resultDataLine"
    >
    </ngx-charts-line-chart>
  </div>
</div>

