<!--/**-->
<!-- * Created by "Andy Van Camp" on 25/08/2021.-->
<!-- */-->
<div class="container">
  <div class="row align-items-start">
    <h2 class="" *ngIf="!isSuccessful">Make a reservation</h2>
    <form class="mt-0 ms-3  w-25"
          *ngIf="!isSuccessful"
          name="form"
          (ngSubmit)="f.form.valid && onSubmit()"
          #f="ngForm"
          novalidate>

      <div class="input-group mb-3">
        <span class="input-group-text" id="date">Date:</span>
        <input
          type="date"
          class="form-control"
          placeholder="Date"
          aria-label="Date"
          aria-describedby="basic-addon1"
          [(ngModel)]="timeslotRequest.reservationDate"
          required="required"
          name="Date"
          #Date="ngModel"
        >
        <div class="alert-danger" *ngIf="Date.errors && f.submitted">
          <div *ngIf="Date.errors.required">Date is required</div>
        </div>
      </div>

      <div class="input-group mb-3" *ngIf="timeslotRequest.reservationDate">
        <span class="input-group-text" id="partysize">Party size:</span>
        <input
          type="number"
          class="form-control"
          placeholder="Partysize"
          aria-label="Partysize"
          aria-describedby="basic-addon1"
          [(ngModel)]="timeslotRequest.partySize"
          required="required"
          name="Partysize"
          #Partysize="ngModel"
        >
        <div class="alert-danger" *ngIf="Partysize.errors && f.submitted">
          <div *ngIf="Partysize.errors.required">Party size is required</div>
        </div>
      </div>
      <div class="search">
        <span>Check available tables: </span>
        <button type="submit" class="btn btn-outline-primary">Search</button>
      </div>
    </form>
    <div class="row" *ngIf="!reserved && isSuccessful">
      <h2>Choose a time slot</h2>
      <table class="table table-striped ms-3">
        <tr class="tables" *ngFor="let timeslot of timeSlotMap | keyvalue">
          <td class="Table: "><span>Table: {{timeslot.key}} <span>size: {{getTableSize(timeslot.key)}}</span></span>
          </td>
          <td class="slots" [ngClass]="{'red':!slot.available}" *ngFor="let slot of timeslot.value"
              (click)="makeReservation(slot.startTime, slot.endTime, timeslot.key, slot.available)">
            {{slot.startTime.substring(0,5)}}
          </td>
        </tr>
      </table>
    </div>
    <div class="shadow p-3 mt-3 mb-5 bg-body rounded row" *ngIf="savedReservation">
      <div class="col mx-auto align-items-center">
        <h3>Reservation successful</h3>
        <p>Reservation made for: {{username}}</p>
        <p>At restaurant: {{restaurantname}}</p>
        <p>Date: {{savedReservation.date}}</p>
        <p>Expected at: {{savedReservation.startTime.substring(0,5)}}</p>
        <p>Bounce at: {{savedReservation.endTime.substring(0,5)}}</p>
        <p>Amount of peepz: {{savedReservation.partySize}}</p>
        <p>Table reserved: {{savedReservation.restaurantTable.id}}</p>
      </div>
    </div>
    <div class="d-grid gap-2 d-md-block ms-3 mt-2">
      <button type="button" class="btn btn-outline-primary" *ngIf="isSuccessful&&!reserved" (click)="backToDate()">Cancel
      </button>
      <button type="button" class="btn btn-outline-primary" *ngIf="!isSuccessful||reserved" (click)="backToResto()">Back
      </button>
      <button type="button" class="btn btn-outline-primary" *ngIf="reserved" (click)="downloadPdf()">Print
      </button>
    </div>
    <div class="alert alert-warning" *ngIf="errorMessage">
      Problem!<br>{{errorMessage}}
    </div>
  </div>
</div>

