h3 {
  margin-bottom: 25px;
  margin-top: 15px;
}

span,
.knoppen .btn {
  width: 130px;
}

.btn {
  margin-bottom: 10px;
}

.align-items-start {
  justify-content: center;
}

input.ng-touched.ng-invalid {
  border: red 1px solid;
}
select.ng-touched.ng-invalid {
  border: red 1px solid;
}
