span, .knoppen .btn {
  width: 100px;
}

.row {
  margin-bottom: 25px;
  margin-top: 25px;
}

.knoppen {
  margin-top: 30px;
  margin-bottom: 10px;
}

.vegi {
  margin-left: 10px;
}

h2 {
  margin-bottom: 1rem;
}

input.ng-touched.ng-invalid {
  border: red 1px solid;
}
select.ng-touched.ng-invalid {
  border: red 1px solid;
}
