.card_header {
  text-align: center;
  padding: 15px;
}

.card_header h1{
  font-family: 'Yomogi', cursive;
  font-size: 100px;
  margin: 20px auto 50px auto;
  padding-bottom: 20px;
  border-top: 5px solid #FF8F00;
  border-bottom: 5px solid #FF8F00;
}

h4 {
  margin-bottom: 30px;
}

a {
  color: #FF8F00;
}

img {
  width: 100%;
}

.row {
  margin-top: 40px;
  text-align: center;
}

.foto {
  height: 180px;
}

.ads {
  border-radius: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.text_box_2 {
  vertical-align: center;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

